<li>
  <a href="https://mvp.microsoft.com/en-us/PublicProfile/4034925" rel="nofollow noopener noreferrer" >
    <img class="custom_link_image_title" src ="/assets/images/mvp.png"/> MVP Profile
  </a>
  <a href="https://mstdn.social/@localjoost"  rel="nofollow noopener noreferrer" class="customlink" >
    <img class="custom_link_image_title" src ="/assets/images/mastodon.png"/> Mastodon
  </a>
  <div class="customlink">
    <img class="custom_link_image_title" src ="/assets/images/discord-mark-blue.png"/> Discord: LocalJoost#3562
   </div>
  <a href="https://live.xbox.com/en-US/MyXbox/Profile?Gamertag=LocalJoost"  rel="nofollow noopener noreferrer" class="customlink" >
    <img class="custom_link_image_title" src ="/assets/images/xbox.png"/> XBox Live 
  </a>
  <a href="https://www.augmedit.com/"  rel="nofollow noopener noreferrer" class="customlink" >
    <img class="custom_link_image_title" src ="/assets/images/augmedit.jpg"/> Augmedit (employer)
  </a>
  <p></p>
  <a href="https://www.paypal.com/paypalme/localjoost" rel="nofollow noopener noreferrer" class="customlink" >
    <img class="custom_link_image_title" src ="/assets/images/PP.png"/> <b>Buy me a drink ;)</b>
  </a>
  <p></p>
  <div>Try my MRTK3 app HoloATC on: </div>
  <li>
      <a href="	https://www.microsoft.com/store/apps/9NVHWRS1V9ZH"  rel="nofollow noopener noreferrer" class="customlink" >
        <img class="custom_link_image_title" src ="/assets/images/hololens2.png"/> HoloLens 2
      </a>
      <a href="https://sidequestvr.com/app/13698/holoatc"  rel="nofollow noopener noreferrer" class="customlink" >
      <img class="custom_link_image_title" src ="/assets/images/meta-logo.png"/> Quest 2/Pro
      </a>
      <a href="https://www.schaikweb.net/ML2/HoloATC_MagicLeap_1.0.8.0.apk"  rel="nofollow noopener noreferrer" class="customlink" >
        <img class="custom_link_image_title" src ="/assets/images/magicleap.png"/> Magic Leap 2
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.LocalJoost.HoloATC2"  rel="nofollow noopener noreferrer" class="customlink" >
        <img class="custom_link_image_title" src ="/assets/images/googleplaystore.png"/> Android phones
      </a>
  </li>
  <a rel="me" href="https://mstdn.social/@localjoost" style="visibility:hidden">Mastodon</a> 
</li>
