<li>
  <a href="https://mvp.microsoft.com/en-us/PublicProfile/4034925" rel="nofollow noopener noreferrer" >
    <img class="custom_link_image_title" src ="/assets/images/mvp.png"/> MVP Profile
  </a>

  <div class="downloadheader customlink">
    <div><img class="custom_link_image_title" src ="/assets/images/holoatc.png"/> <b>Try my app HoloATC!</b> </div>
    <div class="downloaditems">
        <a href="/holoatchl2/"  rel="nofollow noopener noreferrer" class="customlink" >
          <img class="custom_link_image_title" src ="/assets/images/hololens2.png"/> HoloLens 2
        </a>
        <a href="/holoatcml2/"  rel="nofollow noopener noreferrer" class="customlink" >
          <img class="custom_link_image_title" src ="/assets/images/magicleap.png"/> Magic Leap 2
        </a>
        <a href="https://sidequestvr.com/app/13698/holoatc"  rel="nofollow noopener noreferrer" class="customlink" >
        <img class="custom_link_image_title" src ="/assets/images/meta-logo.png"/> Quest 2/Pro
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.LocalJoost.HoloATC2"  rel="nofollow noopener noreferrer" class="customlink" >
          <img class="custom_link_image_title" src ="/assets/images/googleplaystore.png"/> Android phones
        </a>
      </div>
  </div> 

  <div class="downloadheader customlink">
    <div><img class="custom_link_image_title" src ="/assets/images/walktheworld.png"/><b>Try my app Walk the World!</b> </div>
    <div class="downloaditems">
        <a href="/wtwhl2/"  rel="nofollow noopener noreferrer" class="customlink" >
          <img class="custom_link_image_title" src ="/assets/images/hololens2.png"/> HoloLens 2
        </a>
        <a href="/wtwml2/"  rel="nofollow noopener noreferrer" class="customlink" >
          <img class="custom_link_image_title" src ="/assets/images/magicleap.png"/> Magic Leap 2
        </a>
      </div>
  </div> 

  <a href="https://www.paypal.com/paypalme/localjoost" rel="nofollow noopener noreferrer" class="customlink" >
    <img class="custom_link_image_title" src ="/assets/images/PP.png"/> <b>Buy me a drink ;)</b>
  </a>
  <a href="https://bsky.app/profile/localjoost.bsky.social"  rel="nofollow noopener noreferrer" class="customlink" >
    <img class="custom_link_image_title" src ="/assets/images/bluesky.png"/> BlueSky
  </a>
  <a href="https://mstdn.social/@localjoost"  rel="nofollow noopener noreferrer" class="customlink" >
    <img class="custom_link_image_title" src ="/assets/images/mastodon.png"/> Mastodon
  </a>
  <div class="customlink">
    <img class="custom_link_image_title" src ="/assets/images/discord-mark-blue.png"/> Discord: LocalJoost#3562
   </div>
  <a href="https://www.augmedit.com/"  rel="nofollow noopener noreferrer" class="customlink" >
    <img class="custom_link_image_title" src ="/assets/images/augmedit.jpg"/> Augmedit (employer)
  </a>


  <a rel="me" href="https://mstdn.social/@localjoost" style="visibility:hidden">Mastodon</a> 
</li>
