<li>
  <a href="https://mvp.microsoft.com/en-us/PublicProfile/4034925" rel="nofollow noopener noreferrer" >
    <img class="custom_link_image_title" src ="/assets/images/mvp.png"/> MVP Profile
  </a>
  <a href="https://mstdn.social/@localjoost"  rel="nofollow noopener noreferrer" class="customlink" >
    <img class="custom_link_image_title" src ="/assets/images/mastodon.png"/> Mastodon
  </a>
  <div class="customlink">
    <img class="custom_link_image_title" src ="/assets/images/discord-mark-blue.png"/> Discord: LocalJoost#3562
   </div>
  <a href="https://live.xbox.com/en-US/MyXbox/Profile?Gamertag=LocalJoost"  rel="nofollow noopener noreferrer" class="customlink" >
    <img class="custom_link_image_title" src ="/assets/images/xbox.png"/> XBox Live 
  </a>
  <a href="https://www.velicus.nl/"  rel="nofollow noopener noreferrer" class="customlink" >
    <img class="custom_link_image_title" src ="/assets/images/VelicusLogoWhite.png"/> Velicus (employer)
  </a>
</li>
